* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: 'GT-Walsheim-Medium', sans-serif;
  letter-spacing: 0.06em;
  color: $blue;
  background-size: cover;
  background-position: center center;
  -webkit-transform:translate3d(0,0,0); // Fixing background-image flashing?
}

a {
  text-decoration: none;
  color: $blue;
  border-bottom: solid 2px $blue;
  line-height: 0.1em;
  padding-bottom: 1px;
  &:hover {
    color: $blue-hover;
    border-color: $blue-hover;
  }
  // &.active {
  //   color: $blue-hover;
  //   border-color: $blue-hover;
  // }
}

p {
  line-height: 1.6em;
  margin: 2px;
  font-size: 23px;
  @include mediaQuery(768px) {
    font-size: 42px;
  }
}

.container {
  margin: 19px 25px;
  @include mediaQuery(768px) {
    margin: 40px 60px;
  }
}

.clear {
  clear: both;
}

#loaded-images-container {
  display: none;
}